div{
    background-color: aqua;
}

.um{
    background-color: cadetblue;
}

.tres{
    background-color: chartreuse;
}

body{
    height: 1500vw;
    width: 2000vh;
    background-image: url(Mechaanimais.jpg);
    background-repeat: round;
    
    ;
}